<h1 class="title size-is4">Shelter Analytics Page</h1>
<br>
<h2 class="subtitle" >Approved Adoptions!</h2>
    <h3>Happy Parents:</h3>
    <ul>
        <% Adoption.approved.each do |name| %>
        <li><%= name %></li>
        <% end %>
    </ul>
<br>
<h2 class="subtitle">Pending Adoptions: </h2>
    <h3>Names:</h3>
    <ul>
        <% Adoption.pending.each do |name| %>
        <li><%= name%></li>
        <% end %>
    </ul>

<br>
<h2 class="subtitle">Denied Adoptions: </h2>
    <h3>Names:</h3>
    <ul>
        <% Adoption.denied.each do |name| %>
        <li><%= name %></li>
        <% end %>
    </ul>
<br>
<br>
<h2 class="subtitle">User Data</h2>
    <h3>Average User Age</h3>
    <%= User.average_user_age %>
    
    <h3>Number of Users</h3>
            <%= User.user_count %><br>
    <h3>Average Number of Pets a User has</h3>
            <%= User.average_pet_count_of_users %><br>
    <h3>Youngest User</h3>
            <%= User.youngest %><br>
    <h3>Oldest User</h3>
            <%= User.oldest %><br>
    <h3>Most Pets</h3>
            <%= User.most_pets %><br>
            