<h1 class="title size-is4">Edit this Adoption Application Form</h1>

<%= form_for @adoption, :url => animal_adoption_path, :html => { :method => :patch} do |f| %>
    <%= f.label "Applicant" %>
    <%= f.text_field :user_id, value: @adoption.user.name%>    
    <br>        
    <%= f.label :animal_id %>
    <%= f.text_field :animal_id, value: @adoption.animal.name %>
    <br>
    <br>
    <%= f.label :reason %>
    <%= f.text_area :reason %>
    <br>
    <br>
    
    <%= f.submit "Submit" %>
<% end %>
<%= link_to "Delete This Application", animal_adoption_path(@adoption), :method => :delete, data: {confirm: "Are you sure?"} %>