<h1>New Adoption Form</h1>
<br>
<%= render partial: "shared/errors", locals: {new_object: @adoption} %>
<%= form_for @adoption, :url => animal_adoptions_path, :html => { :method => :post} do |f| %>
    <br>
    <%= f.label "Applicant" %>
    <%= f.collection_select(:user_id, User.all, :id, :name) %>
    <br>
    <%= f.label "Animal to Adopt:" %>
    <%= @animal.name %>
    <br>
    <%= f.label :reason %>
    <%= f.text_area :reason %>
    <br><br>
    <%= f.submit "Apply for Adoption" %>
<% end %>


