<h1>Adoption Confirmation Page for <%= link_to @adoption.animal.name, animal_path(@adoption.animal) %></h1>
<br>
<h3>Adoption Applicant: <%= link_to @adoption.user.name, user_path(@adoption.user)  %></h3>

<h3>Applicant Reason for Adopting <%= link_to @adoption.animal.name, animal_path(@adoption.animal)%>: </h3>
<p><%= @adoption.reason %></p>
<h3> This adoption application status is: <%= @adoption.status %></h3>
<%= render partial: "shared/errors", locals: {new_object: @adoption} %>
<br>

<br>

<br>
<% if @adoption.animal.adopted == false %>
    <form action="/adoptions_approve/<%= @adoption.id %>" method="POST"> <!--try using route helper-->

    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <select name='adoption[status]'>
            <option value="Approved">Approved</option>
            <option value="Denied">Denied</option>
            
        </select>
        <input type="submit" value="Submit">
    </form>
<% else %>
    <%= "You have already approved #{@adoption.user.name} to adopt #{@adoption.animal.name}." %>
<br>
    <%= link_to "Cancel this Adoption Application", animal_adoption_path(@adoption.animal, @adoption), :method => :delete, data: {confirm: "Are you sure?"} %>
<% end %>
