<h1>Adoption Confirmation</h1>

<h3>Thank you for applying to adopt <%= link_to @adoption.animal.name, animal_path(@adoption.animal) %></h3>
<h3>Your reason for adopting a pet from our shelter: </h3>
<%= @adoption.reason %>
<h3></h3> The adoption application status is: <%= @adoption.status %></h3>
<br>
<%= render partial: "shared/errors", locals: {new_object: @adoption} %>
<br>
<%= link_to "View all Animals", animals_path %>
<br>
For visitors: <%= link_to "Cancel your adoption process", animal_adoption_path(@adoption.animal, @adoption), :method => :delete, data: {confirm: "Are you sure?"} %>
<br>
For employees:


    <form action="/adoptions_approve/<%= @adoption.id %>" method="POST">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <select name='adoption[status]'>
            <option value="Approved">Approved</option>
            <option value="Denied">Denied</option>
            
        </select>
        <input type="submit" value="Submit">
    </form>
  
<%= link_to "View All Adoptions", adoptions_path %> 
