<h1>Adoption Confirmation</h1>

<h3>Thank you for applying to adopt <%= @adoption.animal.name %></h3>
<h3>Your reason for adopting a pet from our shelter: </h3>
<%= @adoption.reason %>
<h3></h3> The adoption application status is: <%= @adoption.status %></h3>
<br>
<br>
<%= link_to "View all Animals", animals_path %>
<br>
For visitors: <%= link_to "Cancel your adoption process", animal_adoption_path(@adoption.animal, @adoption), :method => :delete, data: {confirm: "Are you sure?"} %>
<br>

