<h1 class="title is-size-1">All Dogs</h1>

<br>
<br>

<div class="columns is-desktop">
    <% @first_four.each do |animal| %>
    <div class="column">
    <span class="subtitle"><%= image_tag(animal.img) %></span><br>
    <span class="subtitle"><%= link_to animal.name, animal_path(animal) %></span><br>
    <span class="subtitle">Breed: <%= animal.breed%></span><br>
  </div>
  <% end %>
</div>

<div class="columns is-desktop">
    <% @next_four.each do |animal| %>
    <div class="column">
    <span class="subtitle"><%= image_tag(animal.img) %></span><br>
    <span class="subtitle"><%= link_to animal.name, animal_path(animal) %></span><br>
    <span class="subtitle">Breed: <%= animal.breed%></span><br>
  </div>
  <% end %>
</div>

<div class="columns is-desktop">
    <% @third_four.each do |animal| %>
    <div class="column">
    <span class="subtitle"><%= image_tag(animal.img) %></span><br>
    <span class="subtitle"><%= link_to animal.name, animal_path(animal) %></span><br>
    <span class="subtitle">Breed: <%= animal.breed%></span><br>
  </div>
  <% end %>
</div>

<h2 class="title is-size-4">Incoming Dogs</h2>
<ul>
    <% Animal.after_12.each do |animal| %>
    <li>Name: <%=link_to animal.name, animal_path(animal) %> - Breed: <%= animal.breed %> - Bio: <%= animal.bio %> - Age: <%= animal.age %></li>

    <% end %>
</ul>
<br>
<h2 class="title is-size-4">Happily Adopted Dogs</h2>
<ul>
    <% Animal.adopted.each do |animal| %>
    <li>Name: <%=link_to animal.name, animal_path(animal) %> - Breed: <%= animal.breed %> - Bio: <%= animal.bio %> - Age: <%= animal.age %></li>

    <% end %>
</ul>
<br>
<br>
<%= link_to "Add Another Dog", new_animal_path %>