<!DOCTYPE html>
<html>
  <head>
    <title>AnimalApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <nav class="navbar is-primary">
        <div class="container">
          <div class="navbar-brand">
              <a class="navbar-item" style="font-weight: bold" href="<%=root_path%>">Furrever</a>
              <span class="navbar-burger burger" data-target="navMenu">
                <span></span>
                <span></span>
                <span></span>
              </span>
          </div>
          <div id="navMenu" class="navbar-menu">
            <div class="navbar-end">
              <%= link_to "Home", '/', class: "navbar-item is-active" %>
              <%= link_to "All Animals", animals_path, class: "navbar-item" %>
              <%= link_to "All Users", users_path, class: "navbar-item" %>
              <%= link_to "All Adoptions", adoptions_path, class: "navbar-item" %>
              <%= link_to "Analytics", shelters_analytics_path , class: "navbar-item"%>
              <% if session[:user_id] %>
                <%= link_to "Logout", logout_path, class: "navbar-item" %> 
              <%end%> 
            </div>
          </div>     
        </div>    
      </nav>
      <% if notice %>
      <%= notice %>
      <% end %>

      <% if current_user %>
        <h4 id="logged_in">Logged In: <%= current_user.name %></h4>
      <% else %>
         <%= link_to "Log In", login_path %>
      <%end%>


    <%= yield %>

      <script type="text/javascript">
      (function(){
        var burger = document.querySelector('.burger');
        var nav = document.querySelector('#'+burger.dataset.target);

        burger.addEventListener('click', function(){
          burger.classList.toggle('is-active')
          nav.classList.toggle('is-active');
        });
      })();
      </script>
   
  </body>
</html>
