<!DOCTYPE html>
<html>
  <head>
    <title>AnimalApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <nav>
      <div><%= link_to "Home", '/' %></div>
        <div><%= link_to "All Animals", animals_path %></div>
        <div><%= link_to "All Users", users_path %></div>
        <div><%= link_to "Adoptions", adoptions_path %></div>
      </nav>
    <%= yield %>
  </body>
</html>
